<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="fishparty" Publisher="CN=Kai" Version="1.0.2.0" />
  <mp:PhoneIdentity PhoneProductId="40e77916-0332-4215-b312-8ff62f91db57" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>fishparty</DisplayName>
    <PublisherDisplayName>UAF-Capstone Class 2018 (Kai, Tristan, James, Jake, Dylan)</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="fishparty.App">
      <uap:VisualElements DisplayName="fishparty" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\fish_icon.png" Description="This app is a virtual tour of the Ruth Bernett Sport Fish Hatchery, allowing users to take a guided tour along the path water and fish take through the facilty. As well as walkthrough the facility along several paths to see its inner workings." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>